.character-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.character-grid .character-card {
    text-align: center;
}

.character-grid .character-name {
    text-align: center;
}

.character-grid .character-card .img-responsive {
    width: 100%;
    max-width: 200px;
    height: auto;
}

.nav-button{
    text-align:center;
}

.nav-button .btn{
    margin:5px;
}

.btn{
    height:40px;
    grid: center;
    min-width; 100px;
    background-color : black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.btn:hover{
    background-color: grey;
}

.btn:disabled{
    background-color:white;
}