.body{
    background-color: cyan;
}

.results {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
  }